{% extends 'base.html' %}


{% block content %}
<div class="information-container">
    <div class="information-hero dept-hero">
    <h1 class="information-title">Department</h1>
    <div class="accordion-container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How long will I be waiting for my examination?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        When you arrive in the radiology department, we aim to start your radiology examination within 15 minutes of your appointment time. If you 
                        are waiting longer than this, please let a member of reception staff know and they will enquire as to the nature of the delay. All radiology departments 
                        also cater to the care of hospital inpatients on an urgent basis, x-ray and CT also cater to the needs of emergency medicine - because of this, it may be 
                        the case that we need to delay your appointment time to ensure the safety and wellbeing of another patient. There may be other unforeseen delays 
                        such as machine breakdowns. 
                        <br><br>
                        We will do everything possible to ensure a quick and comfortable visit to the radiology department, however if you feel 
                        you have waited longer than necessary, please don't hesitate to discuss this with a member of staff on the day of your visit, or by using the contact form 
                        on this website.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Who will carry out my examination?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Within the radiology department we have a large number and range of staff members including (but not limited to):
                        <ul>
                            <li>Radiology assistants</li>
                            <li>Radiology assistant practitioners</li>
                            <li>Radiographers</li>
                            <li>Senior radiographers</li>
                            <li>Reporting radiographers</li>
                            <li>Consultant radiographers</li>
                            <li>Radiologists</li>
                        </ul>
                        Your examination may be carried out by one, or a combination of these staff members depending on the examination you are having. All of 
                        our staff have been trained to the highest standard and are continually reviewed by the department (as well as their professional body if applicable) to ensure 
                        their skills and training are kept up-to-date to provide a safe and effective service to their patients.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Can I ask for a female member of staff?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        While we aim to have male and female staff available at all times, this can not always be guaranteed. A number of our radiology sites are 
                        ran by a single member of staff, in these cases it is not possible to guarantee a female member of staff, although you may ask for a female 
                        chaperone, they will not be able to carry out your examination. <br><br>
                        Please be assured that all of our members of staff are trained to the highest standard and will always have your care and dignity at the forefront 
                        of their minds, they will not ask you to remove clothing unless absolutely necessary for your examination, and in these cases they will provide 
                        you with an x-ray or hospital gown to maintain your dignity.<br><br>
                        If you ask for a female member of staff to carry out your examination, we will try our best to provide this service to you, but it may not always be 
                        possible due to departmental pressures.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}