{% extends 'base.html' %}


{% block content %}
<div class="info-board-hero">
    <h1 class="information-title">Information Board</h1>
    <div class="exam-link-container container-fluid">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="{% url 'department' %}">
                    <h2>Department</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="{% url 'locations' %}">
                    <h2>Locations</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="{% url 'radiation' %}">
                    <h2>Radiation</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="{% url 'requests' %}">
                    <h2>Requests</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="{% url 'results' %}">
                    <h2>Results</h2>
                </a>
            </div>

            <!-- FOR POSSIBLE FUTURE PAGES JUST UNCOMMENT EACH DIV ELEMENT PER PAGE -->

            <!-- <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="#">
                    <h2>#</h2>
                </a>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="#">
                    <h2>#</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="#">
                    <h2>#</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 exam-link">
                <a href="#">
                    <h2>#</h2>
                </a>
            </div> -->
        </div>
    </div>
</div>
{% endblock content %}