{% extends 'base.html' %}

{% block content %}
<div class="information-container">
    <div class="information-hero locations-hero">
    <h1 class="information-title">Locations</h1>
    <div class="accordion-container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Where can I go for my examination?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We have a number of locations available for different examination types, our locations across East Lancashire are Royal Blackburn Hospital (RBH), 
                        Burnley General Hospital (BGH), Accrington Victoria Hospital (AVH), Barbara Castle Way Health Center (BCW), Rossendale Primary Health Center (RPH), 
                        Clitheroe Community Hospital (CCH) and Pendle Community Hospital (PCH), the examination available at these sites are as follows:

                        <table class="location-table">
                            <tr class="location-tr">
                                <td></td>
                                <td>RBH</td>
                                <td>BGH</td>
                                <td>AVH</td>
                                <td>BCW</td>
                                <td>RPH</td>
                                <td>CCH</td>
                                <td>PCH</td>
                            </tr>
                            <tr class="location-tr">
                                <td>x-Ray</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                            </tr>
                            <tr class="location-tr">
                                <td>CT</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>MRI</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Ultrasound</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Mammography</td>
                                <td></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Dexa</td>
                                <td></td>
                                <td></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Nuclear Medicine</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Fluoroscopy</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="location-tr">
                                <td>Angiography</td>
                                <td class="table-green"><i class="fas fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Are some places better than others?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        For the locations that deliver the same examination (e.g. all sites deliver x-rays), there may be variations in equipment as well as the facilities 
                        available to you. All members of staff that work in a particular modality are trained to work cross-site and as such there is no change to the care 
                        you will recieve from the radiology staff, however there may be sites that are better suited to your needs.<br><br>
                        Our peripheral sites (BCW, AVH, RPH, CCH and PCH) are not able to cater for patients that need to use hoisting equimpent to transfer due to the 
                        lack of equipment needed to keep both the patient and the staff memebers safe, therefore we would recommend that patients who have particular mobility 
                        needs access services at our main hospital sites (RBH and BGH).<br><br>
                        For patients accessing plain film (x-ray) services who are undergoing images of their spine and abdomen and are over 16st in weight we recommend you access services at radiology 
                        sites with digital equipment (RBH, BCW, CCH), this is to cater for any potential increase in tissue density you may have.<br><br>
                        You may have a longer wait time at locations that have a single examination room. For plain film x-ray these sites are: BCW, RPH, CCH and PCH. There 
                        may also be a longer wait time for the locations that also have an emergency/urgent care department, these are: RBH, BGH, AVH and RPH.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>
</div>
{% endblock content %}