{% extends 'base.html' %}


{% block content %}
<div class="information-container">
    <div class="information-hero radiation-hero">
    <h1 class="information-title">Radiation</h1>
    <div class="accordion-container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Will my examination expose me to radiation?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        The following radiology modalities <strong>will</strong> expose you to radiation:
                        <ul>
                            <li>X-Ray</li>
                            <li>CT (Computed Tomography)</li>
                            <li>Fluoroscopy</li>
                            <li>Dexa</li>
                            <li>Mammography</li>
                            <li>Nuclear Medicine</li>
                            <li>Angiography</li>
                        </ul>
                        The following radiologies <strong>will not</strong> expose you to radiation:
                        <ul>
                            <li>MRI (Magnetic Resonance Imaging)</li>
                            <li>Ultrasound</li>
                        </ul>
                        The amount of radiation you recieve is usually dependant on a number of factors:
                        <ul>
                            <li>The number of images you have taken during your examination</li>
                            <li>The area of your body being imaged</li>
                            <li>The density of the tissues around the area being imaged</li>
                            <li>The equipment being used</li>
                            <li>The type of radionucleide being used (for Nuclear Medicine only)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Is this examination safe?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        People are often concerned about being exposed to radiation during a radiology examination. However, the part
                        of your body being examined will only be exposed to a low level of radiation for a short amount of time (less than a second in cases of plain film x-ray).
                        <br><br>
                        Generally, the amount of radiation you're exposed to during an X-ray is the equivalent to 
                        a few hours, a few days or a few years of exposure to natural radiation from the environment (depending on the area of the body being imaged).
                        <br><br>
                        Being exposed to X-rays, CT scans, and other radiology examinations that use radiation, does carry a risk of causing cancer many years or decades later, but
                        this risk is thought to be very small.
                        <br><br>
                        For example, an X-ray of your chest, limbs or teeth is equivalent to a few days' worth of
                        background radiation, and has less than a 1 in 1,000,000 chance of causing cancer. 
                        <br><br>
                        The benefits and risks of having a radiology examination involving radiation will be weighed up before it's recommended. Talk to
                        your doctor, radiographer or radiology practitioner about the potential risks beforehand, if you have any concerns.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What should I do after my examination?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        The majority of radiology examinations will not cause you to change your normal day-to-day habits, and you will be able to continue your
                         usual activities, however we would recommend for a few days, that you keep the area that has been imaged out of sunlight and if you experience 
                         any redness, itchyness or skin peeling in the area that has been imaged to seek advice from your doctor or contact the radiology department 
                         as soon as possible, as you may have had an adverse reaction to the dose of radiation you have received.<br><br>
                         For patients that have had a nuclear medicine examination, a radionucleide would have been injected into you, this means that while this substance is 
                         inside your body and has not yet been expelled, you will be slightly 'radioactive', it is therefore recommended that for a few days, you try to minimise 
                         contact with small children and if you are currently breastfeeding, to stop this for a short while (your nuclear medicine practitioner will advise how 
                         long you will need to stop for).<br><br>
                         After any examination where a contrast agent or tracer may have been used (CT, MRI, Fluoroscopy, Angiography, Nuclear Medicine), it is recommended that 
                         you drink plenty of water over the next few days to expell these substances as quickly as possible as these can cause irritation to your kidneys.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Can I wear a lead gown?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You may or may not have had an x-ray in the past where the radiology practitioner placed a piece of lead or a lead gown over you while you had your 
                        examination - this is now an outdated practice. However changing this practice has been near impossible to implement. The usual convention for radiation 
                        safety is to implement three things: Time (reduction), Distance (increase) and Shielding (implementation), however there is now mounting evidence that 
                        shielding is not as helpful as once thought, and it might even have negative consequences.<br><br>
                        One of the downsides is that shielding can obscure the imaging field, leading to an unusable X-ray or CT scan, requiring the patient to have 
                        another. That increases his or her radiation exposure. Shields are frequently misplaced during pelvic X-rays and 
                        often obscur important bony landmarks.<br><br>
                        Another concern is that most imaging machines that use radiation automatically determine the dose of radiation required to produce a successful image. 
                        If the machine senses a shield, it increases the dose in an effort to image through the shield, leading to an increase in radiation exposure.<br><br>
                        There are few positive effects to shielding. The chance of radiation exposure outside the beam's scope is already minimal. If reproductive organs or 
                        a fetus are outside the beam's path, there is no reason to shield. A Mayo Clinic study found that shielding the abdomen or pelvis during chest CT scans 
                        didn't actually reduce the dose of radiation enough to justify the risk of artifacts in the imaging field.<br><br>

                        There are two important exceptions to changing the practice of shielding.
                        <ul>
                            <li>It still applies to providers, as health care professionals who regularly 
                                use radiation, such as radiologic technologists or surgeons, have a higher rate of exposure day in and day out than a single patient undergoing an 
                                imaging study.</li>
                            <li>
                                Shielding should be used if or when it offers patients a psychological benefit. Some patients may be nervous if their provider 
                                doesn't automatically shield them during an X-ray or CT scan. Providers should talk with their patients about the risks of shielding 
                                but still make the professional decision to shield if the comfort it provides outweighs the risks.
                            </li>
                        </ul>
                        Click <a href="https://www.statnews.com/2020/05/12/lead-aprons-little-protection-xrays-clinician-use/" target="_blank"><strong>HERE</strong></a> for more information on 
                        shielding during radiology examinations using radiation.
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}