{% extends 'base.html' %}


{% block content %}
<div class="information-container">
    <div class="information-hero request-hero">
        <h1 class="information-title">Requests</h1>
        <div class="accordion-container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How do I get an examination request?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Radiology requests are much the same as a prescription that you would get from your General
                            Practitioner. You would need to discuss your symptoms/illness
                            with your doctor/consultant and they will decide if a particular radiology examination is
                            appropriate for you and your care. <br><br>
                            Unfortunately you are not able to attend the radiology department and get an examination
                            without first seeing a doctor or referring physician
                            who has put a radiology request onto the system that can be accessed by the radiology
                            department.<br><br>
                            You are able to get a radiology request from the following (this is not an extensive list):
                            <ul>
                                <li>General Practitioners (GPs)</li>
                                <li>Consultants involved in your care</li>
                                <li>Nurses that have had extra training</li>
                                <li>Sonographers (ultrasound radiographer) in certain circumstances</li>
                                <li>Reporting radiographers in certain circumstances</li>
                                <li>MRI radiographers in certain circumstances</li>
                                <li>Nuclear Medicine radiographers in certain circumstances</li>
                                <li>Physiotherapists in certain circumstances</li>
                                <li>Podiatrists in certain circumstances</li>
                                <li>Occupational Therapists in certain circumstances</li>
                            </ul>
                            Anybody who is not a doctor or registered with the GMC is classed as a 'non-medical referrer
                            (NMR)' and it is necessary for these professionals to
                            have undergone extra training to ensure the necessity of the examination and the safety of
                            their patients. If your examination has been
                            requested by an NMR, the member of staff carrying out your examination may need to do some
                            extra checks before they bring you in for imaging.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Why do I need an examination request?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            As per IR(ME)R 2020 regulations, it is necessary for any patient due to undergo an
                            examination involving radiation to have an examination
                            request submitted by a registered practitioner (referrer), this can be a doctor registered
                            with the GMC or a registered practitioner that has
                            undergone extra training (NMR). The members of staff undertaking your examination
                            (operators) must ensure the request the referrer has put forward
                            is justified under IR(ME)R regulations i.e. that there is a valid reason to carry out your
                            examination and that the benefits outweigh the risks.<br><br>
                            Without an examination request, we are unable to determine whether the examination you need
                            is necessary for your care.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What should I do with my examination request?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            When you have seen a referring physician and they have decided you need a radiology
                            examination, they will put an electronic request on the system
                            for the radiology department to access. They will also give you a paper copy. Once you have
                            this, you can then book an appointment on the ELHT RBS
                            using the details on your examination request.<br><br>
                            You do not have to bring your request with you on the day of your examination, however it
                            may be helpful to have it with you in case the radiology
                            systems go down (an unfortunately frequent occurrence) as we would be unable to carry out
                            your examination without it and you may need to come back to
                            the department at a later time/date. <br><br>
                            After you have had your radiology examination, you are able to keep the examination request
                            for your records, or you can dispose of it as you would any
                            other confidential waste when you are home.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}