@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

.skip-nav {
    position: absolute;
    z-index: 20;
    transform: translateY(-120%);
    background-color: white;
    padding: 5px 15px;
    left: 20px;
    border-radius: 0 0 15px 15px;
    transition: transform 300ms;
}

.skip-nav:focus {
    transform: translateY(0%);
}

@media screen and (max-width: 640px) {
    body {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 300px) {
    body {
        margin-top: 70px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

/* -----HEADER----- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 3px 3px 3px #202020c9;
}

nav {
    background-color: #0069b4;
    display: inline-flex;
    width: 100%;
}

.nav-link.disabled {
    color: white;
}

.navbar-toggler {
    color: white;
    font-size: 1.3em;
    height: 30px;
}

.nav-link {
    color: white;
}

.navbar-nav {
    margin: auto;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: rgb(128, 189, 230)
}

.logo {
    display: grid;
    margin: 5px;
}

.ELHT-radiology {
    font-size: 1.3em;
    color: white;
    font-weight: 700;
}

.booking-service {
    font-weight: 600;
    color: white;
    font-size: 0.9em;
    height: 20px;
    line-height: 10px;
}

.nhs-logo-container {
    display: grid;
    justify-items: right;
    margin: 5px;
    width: 250px;
    margin-right: 15px;
}

.NHS-reverse {
    background-color: white;
    color: #0069B4;
    font-weight: 800;
    font-style: italic;
    width: 35px;
    height: 13px;
    line-height: 10px;
    padding-top: 0;
}

.NHS-words {
    color: white;
    height: 15px;
    line-height: 15px;
    font-weight: 500;
}

.NHS-trust {
    color: rgb(128, 189, 230);
    height: 15px;
    line-height: 15px;
    font-size: 0.6em;
    font-weight: 600;
}

@media screen and (max-width: 300px) {
    .ELHT-radiology {
        font-size: 0.8em;
    }

    .booking-service {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 991px) {

    .nhs-logo-container,
    .separater {
        display: none;
    }

    .nav-link {
        margin-left: 5px;
    }
}

/* -----END OF HEADER----- */

/* -----FOOTER----- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.upper-footer {
    background-color: #A2C4C9;
    height: 87px;
}

.slogan-container {
    display: grid;
    justify-items: left;
    padding: 5px;
    font-size: 1.5em;
    font-weight: 700;
}

.spe-text {
    line-height: 25px;
}

.safe-text {
    color: #60BB46;
}

.personal-text {
    color: #00A0C0;
}

.effective-text {
    color: #4E419A;
}

.lower-footer {
    background-color: #0069B4;
    font-size: 0.8em;
    display: inline-flex;
    width: 100%;
}

.lower-nav {
    margin: auto;
}

.social-container {
    text-align: right;
    margin: 5px;
    width: 70px;
    margin-right: 15px;

}

.lower-nav-container {
    width: 90%;
}

.social-container a {
    color: white;
    font-size: 1.3em;
    margin: 3px;
}

.nhs-bottom-container {
    width: 70px;
}

.NHS-reverse-bottom {
    background-color: white;
    color: #0069B4;
    font-weight: 800;
    font-style: italic;
    font-size: 2em;
    margin-left: 2px;
    padding-right: 2px;
}

@media screen and (max-width: 300px) {
    .bottom-nav-item {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 445px) {
    .lower-nav {
        display: grid;
        text-align: center;
    }

    .bottom-nav-item {
        height: 20px;
    }

    .lower-footer {
        height: 75px;
    }

    .nhs-bottom-container {
        display: flex;
        align-items: center;

    }
}

/* -----END OF FOOTER----- */

/* ---------------INDEX.HTML--------------- */

/* -----HERO IMAGE AND TEXT----- */
.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 700px;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 30px;
    padding: 50px 70px;
    font-weight: 700;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
    box-shadow: 10px 10px 8px #1b1b1b;
    margin-left: 100px;
}

.hero-text>h1 {
    font-weight: 900;
    font-size: 6rem;
}

.hero-p1 {
    margin-bottom: 0px;
    font-size: 3rem;
}

.hero-p2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

.hero-text p a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 1.5em;
}

.hero-text a:hover {
    background-color: rgb(241, 241, 241);
    color: #0069B4
}

@media screen and (max-width: 812px) {
    .hero-text {
        padding: 20px 70px;
    }
}
@media screen and (max-width: 700px) {
    .hero-text>h1 {
        font-size: 4.3rem;
    }
    
    .hero-p1 {
        font-size: 1.7rem;
    }
    
    .hero-p2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .hero-text {
        left: 50%;
        margin-left: 0px;
        padding: 70px 20px;
    }
}

/* -----END OF HERO IMAGE AND TEXT----- */

/* -----BOOKING SECTION----- */
.booking-section-header {
    display: none;
}

.booking-section-container {
    background-color: rgb(221, 221, 221);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    scroll-margin-top: 100px;
}

.booking-image {
    margin-left: 300px;
    margin-right: 50px;
    height: 490px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #3d3d3d;
}

.booking-link {
    text-align: center;
    border: 2px solid rgb(140, 168, 179);
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
    height: 200px;
    width: 250px;
    padding: 0;
    margin: 10px;
    border-radius: 25px;
}

.booking-link:hover {
    box-shadow: 10px 10px 8px #3d3d3d;
    border: 2px solid rgb(83, 106, 141);
}

.booking-link p {
    margin-bottom: 0;
    padding-top: 50px;
}

.booking-link h2 {
    padding-bottom: 85px;
}

#nm-booking-header {
    padding-bottom: 38px;
}

.booking-link a {
    color: black;
    text-decoration: none;
}

.please-choose {
    margin-bottom: 20px;
    font-size: 0.8em;
}

.please-note {
    margin-top: 30px;
    font-size: 0.8em;
}

@media screen and (max-width: 1500px) {
    .booking-image {
        margin-left: 200px;
    }
}

@media screen and (max-width: 1400px) {
    .booking-image {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .booking-image {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1210px) {
    .booking-image {
        display: none;
    }

    .booking-link {
        margin: auto;
        margin-bottom: 20px;

    }
}

@media screen and (max-width: 780px) {
    .booking-link {
        width: 180px;
        height: 180px;
    }

    .booking-link h2 {
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 77px;
    }

    #nm-booking-header {
        padding-bottom: 53px;
    }

    .please-note {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .booking-link h2 {
        padding-bottom: 84px;
    }

    #nm-booking-header {
        padding-bottom: 63px;
    }
}

@media screen and (max-width: 560px) {
    .booking-link {
        width: 290px;
        height: 70px;
        margin-bottom: 5px;
    }

    .booking-link p {
        padding-top: 5px;
    }

    .please-choose {
        text-align: center;
    }

    .booking-link h2 {
        padding-bottom: 20px;
    }

    #nm-booking-header {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 300px) {
    .booking-link {
        width: 220px;
        height: 80px;
        margin: auto;
        margin-bottom: 5px;
    }

    .booking-link p {
        padding-top: 10px;
    }

    .booking-link h2 {
        padding-bottom: 25px;
    }

    #nm-booking-header {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 187px) {
    #nm-booking-header {
        padding-bottom: 3px;
    }
}

/* -----END OF BOOKING SECTION----- */

/* -----IMAGE SECTION----- */
.image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/extra.jpg");
    background-attachment: fixed;
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* -----END OF IMAGE SECTION----- */

/* -----OTHER LINKS SECTION----- */
.other-links-container {
    background-image: url("../images/white2.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.otherlinks-text-container {
    padding: 100px;
    width: 60%;
}

.otherlinks-text-container h2 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
}

.otherlinks-text-container div {
    margin-bottom: 50px;
    text-align: center;
}

.otherlinks-text-container a {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    line-height: 45px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgb(140, 168, 179);
    background-color: rgb(181, 200, 207);
    text-decoration: none;
    color: black;
}

.otherlinks-text-container a:hover {
    border: 2px solid rgb(83, 106, 141);
    background-color: rgb(226, 226, 226);
}

@media screen and (max-width: 1030px) {
    .other-links-container {
        background-size: 500px;
    }

    .otherlinks-text-container {
        width: 90%;
        margin: auto;
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 950px) {
    .otherlinks-text-container {
        padding: 30px;
        padding-bottom: 280px;
    }
}

@media screen and (max-width: 375px) {
    .other-links-container {
        background-size: 400px;
        background-position-x: left;
    }

    .otherlinks-text-container {
        padding-bottom: 230px;
    }
}

/* -----END OF OTHER LINKS SECTION----- */

/* -----ADVERT SECTION----- */
.advert-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.74)), url("../images/advert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 200px;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
}

.advert-text-container {
    color: rgb(45, 67, 116);
}

.advert-text-container h2 {
    font-weight: 700;
}

.advert-text-container div {
    margin-top: 40px;
    font-weight: 700;
}

.advert-text-container a {
    display: block;
    margin: auto;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    line-height: 45px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgb(140, 168, 179);
    background-color: rgb(255, 255, 255);
}

.advert-text-container a:hover {
    border: 2px solid rgb(70, 89, 117);
    background-color: rgb(219, 219, 219);
}

@media screen and (max-width: 884px) {
    .advert-text-container h2 {
        font-size: 1.3em;
    }

    .advert-text-container div {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 612px) {
    .advert-text-container h2 {
        font-size: 1.3em;
    }

    .advert-container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .advert-text-container h2 {
        font-size: 1.3em;
    }

    .advert-container {
        padding-top: 20px;
    }
}

/* -----END OF ADVERT SECTION----- */
/* ---------------END OF INDEX.HTML--------------- */


/* ---------------BOOK.HTML--------------- */

.book-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 145px;
    padding-top: 50px;
    /* height of the footer */
}

.book-hero {
    min-width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/book-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/book-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/book-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.book-title {
    margin: auto auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.booking-form {
    background-color: rgb(245, 245, 245);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 2px solid #0069b4;
    box-shadow: 0px 3px 3px 3px #202020c9;
}

.card {
    max-width: 90%;
    margin: auto auto;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.fa-info-circle {
    margin-right: 10px;
    margin-left: 10px;
}

.info-hover {
    position: relative;
    display: inline-block;
}

.info-hover .info-hover-text {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.info-hover:hover .info-hover-text {
    visibility: visible;
}

.form-radio-question-group {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-question {
    margin-bottom: 5px;
}

.form-question-container {
    display: flex;
}

.form-radio-answer {
    margin-right: 20px;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: rgb(0, 68, 255) !important;
}

.fa-caret-down {
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 640px) {
    .book-title {
        min-width: 90%;
        font-size: x-large;
    }

    .info-hover .info-hover-text {
        visibility: hidden;
        width: 270px;
    }
    .book-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .booking-form {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 340px) {
    .fa-caret-down {
        font-size: large;
        margin-left: 5px;
        margin-right: 0;
    }

    .info-hover .info-hover-text {
        visibility: hidden;
        width: 220px;
    }
    .booking-form {
        padding-left: 5px;
        padding-right: 5px;
    }
    .book-container {
        padding-top: 15px;
    }
}



/* ---------------END OFF BOOK.HTML--------------- */

/* -----GENERAL INFORMATION PAGES----- */

.information-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 145px;
    /* height of the footer */
}

.information-hero {
    min-width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.information-title {
    background-color: rgba(255, 255, 255, 0.685);
    font-size: xx-large;
    margin: auto auto;
    max-width: 40%;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 8px #3d3d3d;
}

.accordion-container {
    max-width: 70%;
    margin: auto auto;
    padding-bottom: 20px;
}

@media screen and (max-width: 445px) {
    .accordion-container {
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 640px) {
    .information-title {
        min-width: 90%;
        font-size: x-large;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .accordion-container {
        max-width: 90%;
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 790px) {
    .information-hero {
        height: 500px;
    }
}

/* -----GENERAL INFORMATION BOARD----- */

.info-board-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/info-board-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/info-board-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/info-board-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF GENERAL INFORMATION BOARD----- */

/* -----DEPARTMENT INFORMATION----- */

.dept-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/dept-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/dept-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/dept-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF DEPARTMENT INFORMATION----- */

/* -----LOCATION INFORMATION----- */

.locations-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/locations-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/locations-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/locations-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#map {
    height: 350px;
    max-width: 70%;
    margin: auto auto;
    margin-bottom: 100px;
}

@media screen and (max-width: 640px) {
    #map {
        max-width: 90%;
    }
}

/* -----END OF LOCATION INFORMATION----- */

/* -----RADIATION INFORMATION----- */

.radiation-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/radiation-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/radiation-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/radiation-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF RADIATION INFORMATION----- */

/* -----REQUEST INFORMATION----- */

.request-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/requests-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/requests-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/requests-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF REQUEST INFORMATION----- */

/* -----RESULTS INFORMATION----- */

.results-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/results-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/results-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/results-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF RESULTS INFORMATION----- */

/* -----END OF GENERAL INFORMATION PAGES----- */


/* -----EXAMINATION INFORMATION PAGES----- */

.examination-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 145px;
    /* height of the footer */
}

.examination-hero {
    min-width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.examination-title {
    background-color: rgba(255, 255, 255, 0.685);
    font-size: xx-large;
    margin: auto auto;
    max-width: 40%;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 8px #3d3d3d;
}

.book-here {
    width: 250px;
    background-color: white;
    border: 1px solid rgb(190, 227, 241);
    border-radius: 20px;
    margin: auto auto;
    text-align: center;
    padding: 30px;
}

.book-here>a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 5px 4px #3d3d3d;
    color: black;
}

.book-here>a:hover {
    background-color: rgb(238, 238, 238);
}

.grid {
    margin: 2rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}

.grid-div-2,
.grid-div-3,
.grid-div-4,
.grid-div-5 {
    background-color: rgba(255, 255, 255, 0.788);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 4px #8b8b8b;
}

.grid-2 {
    margin-bottom: 70px;
}

.grid-div:hover {
    background-color: white;
}

@media screen and (max-width: 950px) {
    .grid {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 640px) {
    .examination-title {
        min-width: 90%;
        font-size: x-large;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 790px) {
    .examination-hero {
        height: 500px;
    }
}

/* -----EXAMINATION BOARD----- */

.exam-board-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/exam-board-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/exam-board-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/exam-board-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

/* -----END OF EXAMINATION BOARD----- */

/* -----ANGIOGRAPHY----- */

.angio-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/angio-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/angio-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/angio-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF ANGIOGRAPHY----- */

/* -----COMPUTED TOMOGRAPHY----- */

.ct-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/ct-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/ct-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/ct-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

/* -----END OF COMPUTED TOMOGRAPHY----- */

/* -----FLUOROSCOPY----- */

.fluoro-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/fluoro-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/fluoro-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/fluoro-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF FLUOROSCOPY----- */

/* -----MAGNETIC RESONANCE----- */

.mri-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/mri-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/mri-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/mri-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----END OF MAGNETIC RESONANCE----- */

/* -----MAMMOGRAPHY----- */

.mammo-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/mammo-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/mammo-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/mammo-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF MAMMOGRAPHY----- */

/* -----NUCLEAR MEDICINE----- */

.nm-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/nm-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/nm-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/nm-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -----END OF NUCLEAR MEDICINE----- */

/* -----ULTRASOUND----- */

.us-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/us-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/us-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/us-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

/* -----END OF ULTRASOUND----- */

/* -----XRAY----- */

.xray-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/xray-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/xray-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/xray-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

/* -----END OF XRAY----- */

/* -----DEXA----- */

.dexa-hero {
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/dexa-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/dexa-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/dexa-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

/* -----END OF DEXA----- */

/* -----END OF EXAMINATION INFORMATION PAGES----- */

/* ---------------END OF INDEX.HTML--------------- */


/* ---------------CONTACT.HTML--------------- */

.contact-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 145px;
    /* height of the footer */
}

.contact-hero {
    min-width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/contact-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/contact-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/contact-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.contact-title {
    background-color: rgba(255, 255, 255, 0.685);
    font-size: xx-large;
    margin: auto auto;
    max-width: 40%;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 10px 10px 8px #3d3d3d;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(200, 200, 200);
    color: rgb(34, 76, 138);
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.contact-form,
.form-information {
    background-color: rgb(245, 245, 245);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 2px solid #0069b4;
    box-shadow: 0px 3px 3px 3px #202020c9;

}

.form-control:hover,
.form-control:active,
.form-control:focus {
    background-color: #d7eaf8;
}

.form-information {
    text-align: center;
    padding-bottom: 30px;
}

.contact-address-heading {
    font-weight: 600;
}

.contact-hospital-address {
    color: #0069b4;
}

.center-form>h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.map-download {
    display: block;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0069b4;
    text-decoration: none;
    color: black;
}

.map-download:hover {
    background-color: #f2faff;
}

.map-download>i {
    margin-left: 15px;
    font-size: 1.5em;
}


@media screen and (max-width: 1000px) {
    .center-form {
        max-width: 70%;
    }
}

@media screen and (max-width: 640px) {
    .contact-title {
        min-width: 90%;
        font-size: x-large;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .center-form {
        max-width: 90%;
    }
}

@media screen and (max-width: 340px) {
    button[type="submit"] {
        width: 90%;
    }
}

/* ---------------END OF CONTACT.HTML--------------- */


/* ---------------PRIVACY.HTML--------------- */

.privacy-container {
    padding-bottom: 200px;
}

#privacy-inner-container {
    margin-left: 150px;
    margin-right: 100px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    #privacy-inner-container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 630px) {
    #privacy-inner-container {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 0.5em;
    }
}

@media screen and (max-width: 350px) {
    #privacy-inner-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* ---------------END OF PRIVACY.HTML--------------- */



/* ---------------THANKS.HTML--------------- */

.thanks-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 145px;
    /* height of the footer */
}

.thanks-hero {
    min-width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/contact-hero.jpg");
    background: -o-linear-gradient(left bottom, left top, from(#ffffff), to(transparent)),
        url("../images/contact-hero.jpg");
    background: linear-gradient(to top, #ffffff, transparent),
        url("../images/contact-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.thanks-title {
    background-color: rgba(255, 255, 255, 0.685);
    font-size: x-large;
    font-weight: 400;
    margin: auto auto;
    max-width: 40%;
    padding: 70px;
    border-radius: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    box-shadow: 10px 10px 8px #3d3d3d;
}

.thanks-title a {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    line-height: 45px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgb(140, 168, 179);
    background-color: rgb(181, 200, 207);
    text-decoration: none;
    color: black;
    font-size: medium;

}

.thanks-title a:hover {
    border: 2px solid rgb(83, 106, 141);
    background-color: rgb(226, 226, 226);
}

.thanks-links {
    margin-top: 50px;
}

@media screen and (max-width: 1190px) {
    .thanks-title {
        max-width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .thanks-title {
        max-width: 90%;
        padding: 30px;
    }
}

@media screen and (max-width: 340px) {
    .thanks-title {
        font-size: medium;
    }
    .thanks-title a {
        width: 90%;
        height: auto;
        line-height: normal;
        padding: 15px;
    }
}

/* ---------------END OF THANKS.HTML--------------- */

/* ---------------ERROR PAGES--------------- */

@media screen and (max-width: 860px) {
    .error-image {
        width: 100%;
    }
}


/* ---------------END OF ERROR PAGES--------------- */




[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
}