{% extends 'base.html' %}


{% block content %}
<div class="book-container">
    <div class="book-hero"></div>
    
    <!-- ANGIO BOOKING FORM -->
        
            <div class="center-form">
                <form class="booking-form" method="POST" onsubmit="return validateForm()">
                    <h1 class="book-title">Book your Angiography exam</h1>

                    {% if messages %}
                    <div class="card notification-card notification-invitation">
                        <div class="card-body">
                            {% for message in messages %}
                            <div class="card-title">{{message}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    
            {% csrf_token %}
            <!-- REQUEST NUMBER -->
            <label for="request_number">Request Number</label>
            <div class="form-group">
                <label for="request_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer and is 8 numbers long. If you haven't been given a paper request and don't know the request number, please leave this blank.</span>
                </label>
                <input type="text" name="request_number" id="request_number" class="form-control booking-form-input"
                    placeholder="12345678" />
            </div>

            <!-- HOSPITAL NUMBER -->
            <label for="hospital_number">Hospital Number</label>
            <div class="form-group">
                <label for="hospital_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer. It is in the top left corner underneath a barcode. It either starts with 'RXR' and is
                        followed by 7 numbers, or starts with 'ICE' followed by 6 numbers. If you don't know your 
                        hospital number, please leave this blank.</span>
                </label>
                <input type="text" name="hospital_number" id="hospital_number" class="form-control booking-form-input"
                    placeholder="RXR1234567" />
            </div>

            <!-- FIRST NAME -->
            <label for="first_name">First Name</label>
            <div class="form-group">
                <label for="first_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your first name that you use at your GP surgery.</span>
                </label>
                <input type="text" name="first_name" id="first_name" class="form-control booking-form-input"
                    placeholder="Joseph" required />
            </div>

            <!-- LAST NAME -->
            <label for="last_name">Last Name</label>
            <div class="form-group">
                <label for="last_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your last name that you use at your GP surgery.</span>
                </label>
                <input type="text" name="last_name" id="last_name" class="form-control booking-form-input"
                    placeholder="Bloggs" required />
            </div>

            <!-- DATE OF BIRTH -->
            <label for="date_of_birth">Date of Birth</label>
            <div class="form-group">
                <label for="date_of_birth" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your date of birth.</span>
                </label>
                <input type="date" name="date_of_birth" id="date_of_birth" class="form-control booking-form-input" required>
            </div>

            <!-- SPECIFIC EXAMINATION -->
            <label for="examination_type">Choose your examination</label>
            <div class="form-group">
                <label for="examination_type" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please select the examination on your request here. If you have more than one body part on your exam request, you will need to submit another form. If your 
                        examination isn't listed, please write in the 'communication and mobility requirements' box the examination you think you are having.</span>
                </label>
                <select id="examination_type" name="examination_type" class="form-control booking-form-input"
                    placeholder="Examination type">
                    <option value="Heart/Cardiac">Heart/Cardiac</option>
                    <option value="Lungs/Pulmonary">Lungs/Pulmonary</option>
                    <option value="Brain/Cerebral">Brain/Cerebral</option>
                    <option value="Kidney/Renal">Kidney/Renal</option>
                    <option value="Other">Other</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EXAM DATE -->
            <label for="date_of_exam">Date of Examination</label>
            <div class="form-group">
                <label for="date_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the date you would like to attend for your
                        examination.</span>
                </label>
                <input type="date" name="date_of_exam" id="date_of_exam" class="form-control booking-form-input" required>
            </div>

            <!-- EXAM TIME -->
            <label for="time_of_exam">Time of Examination</label>
            <div class="form-group">
                <label for="time_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the time you would like to attend for your
                        examination.</span>
                </label>
                <input type="time" name="time_of_exam" id="time_of_exam" class="form-control booking-form-input"
                    placeholder="Time of Examination HH:MM" required />
            </div>

            <!-- PREGNANCY QUESTION -->
            <label for="preg_status">Is there any chance you could be pregnant?</label>
            <div class="form-group">
                <label for="preg_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might be pregnant, this will affect how we carry out your examination.</span>
                </label>
                <select id="preg_status" name="preg_status" class="form-control booking-form-input"
                    placeholder="Pregnancy Status" required>
                    <option value="I am pregnant" selected>I am pregnant</option>
                    <option value="I am not pregnant">I am not pregnant</option>
                    <option value="I might be pregnant">I might be pregnant</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- WEIGHT QUESTION -->
            <label for="weight_status">Do you weigh in excess of 22st (140kg)?</label>
            <div class="form-group">
                <label for="weight_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might weigh in excess of 22kg, this will affect how we carry out your examination.</span>
                </label>
                <select id="weight_status" name="weight_status" class="form-control booking-form-input"
                    placeholder="Weight Status" required>
                    <option value="I weigh equal to or less than 22st" selected>I weigh equal to or less than 22st</option>
                    <option value="I weigh more than 22st">I weigh more than 22st</option>
                    <option value="I'm not sure how much I weigh">I'm not sure how much I weigh</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- KIDNEY QUESTION -->
            <label for="kidney_status">Do you have any kidney function problems?</label>
            <div class="form-group">
                <label for="kidney_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have any problems with your kidney function, this will affect how we carry out your examination.</span>
                </label>
                <select id="kidney_status" name="kidney_status" class="form-control booking-form-input"
                    placeholder="Kidney Status" required>
                    <option value="I have kidney problems" selected>I have kidney problems</option>
                    <option value="I do not have kidney problems">I do not have kidney problems</option>
                    <option value="I'm not sure if I have kidney problems">I'm not sure if I have kidney problems</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>           

            <!-- COMMUNICATION & MOBILITY REQUIREMENTS -->
            <label for="comms_problems">Do you have any communication or mobility requirements?</label>
            <div class="form-group">
                <label for="comms_problems" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have any special requirements for your
                        examination that would help with any mobility or communication requirements you may have. Please put any other comments you may have here.</span>
                </label>
                <textarea rows="5" name="comms_problems" id="comms_problems" class="form-control booking-form-input"
                    placeholder="Do you have any mobility or communication requirements?"></textarea>
            </div>

            <!-- CONTACT NUMBER -->
            <label for="contact_number">Please provide a contact number to confirm your appointment.</label>
            <div class="form-group">
                <label for="contact_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">In case we need to contact you about your appointment, please provide the best number to
                        contact you on.</span>
                </label>
                <input type="text" name="contact_number" id="contact_number" class="form-control booking-form-input"
                    placeholder="Contact Number" required />
            </div>

            <!-- EMAIL ADDRESS -->
            <label for="email_address">Please provide an email address to receive your booking confirmation.</label>
            <div class="form-group">
                <label for="email_address" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">To receive your booking confirmation, please provide the best email address to contact you on.</span>
                </label>
                <input type="text" name="email_address" id="email_address" class="form-control booking-form-input"
                    placeholder="Email Address" required />
            </div>

            <!-- FORM SUBMIT BUTTON -->
            <div class="form-row text-center">
                <div class="col">
                    <a href="#"><button type="submit" class="btn btn-secondary" id="contact-button">Book <i
                                class="fas fa-calendar-alt"></i></button></a>
                </div>
            </div>
        </form>
    </div>
    <!-- END OF ANGIO BOOKING FORM -->

</div>


{% endblock content %}