{% extends 'base.html' %}


{% block content %}
<div class="book-container">
    <div class="book-hero"></div>
    
    <!-- MRI BOOKING FORM -->
        
            <div class="center-form">
                <form class="booking-form" method="POST">
                    <h1 class="book-title">Book your MRI exam</h1>

                    {% if messages %}
                    <div class="card notification-card notification-invitation">
                        <div class="card-body">
                            {% for message in messages %}
                            <div class="card-title">{{message}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    
            {% csrf_token %}
            <!-- REQUEST NUMBER -->
            <label for="request_number">Request Number</label>
            <div class="form-group">
                <label for="request_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer and is 8 numbers long. If you haven't been given a paper request and don't know the request number, please leave this blank.</span>
                </label>
                <input type="text" name="request_number" id="request_number" class="form-control booking-form-input"
                    placeholder="12345678" />
            </div>

            <!-- HOSPITAL NUMBER -->
            <label for="hospital_number">Hospital Number</label>
            <div class="form-group">
                <label for="hospital_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer. It is in the top left corner underneath a barcode. It either starts with 'RXR' and is
                        followed by 7 numbers, or starts with 'ICE' followed by 6 numbers. If you don't know your 
                        hospital number, please leave this blank.</span>
                </label>
                <input type="text" name="hospital_number" id="hospital_number" class="form-control booking-form-input"
                    placeholder="RXR1234567" />
            </div>

            <!-- FIRST NAME -->
            <label for="first_name">First Name</label>
            <div class="form-group">
                <label for="first_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your first name that you use at your GP surgery.</span>
                </label>
                <input type="text" name="first_name" id="first_name" class="form-control booking-form-input"
                    placeholder="Joseph" required />
            </div>

            <!-- LAST NAME -->
            <label for="last_name">Last Name</label>
            <div class="form-group">
                <label for="last_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your last name that you use at your GP surgery.</span>
                </label>
                <input type="text" name="last_name" id="last_name" class="form-control booking-form-input"
                    placeholder="Bloggs" required />
            </div>

            <!-- DATE OF BIRTH -->
            <label for="date_of_birth">Date of Birth</label>
            <div class="form-group">
                <label for="date_of_birth" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your date of birth.</span>
                </label>
                <input type="date" name="date_of_birth" id="date_of_birth" class="form-control booking-form-input" required>
            </div>

            <!-- SPECIFIC EXAMINATION -->
            <label for="examination_type">Choose your examination</label>
            <div class="form-group">
                <label for="examination_type" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please select the examination on your request here. If you have more than one body part on your exam request, you will need to submit another form. If your 
                        examination isn't listed, please write in the 'communication and mobility requirements' box the examination you think you are having.</span>
                </label>
                <select id="examination_type" name="examination_type" class="form-control booking-form-input"
                    placeholder="Examination type">
                    <option value="Chest - including lungs and heart">Chest</option>
                    <option value="Abdomen - including kidneys and bladder">Abdomen - including kidneys and bladder</option>

                    <option value="Hand(s) - including finger(s)">Hand(s) - including finger(s)</option>
                    <option value="Wrist(s) - including scaphoid">Wrist(s) - including scaphoid</option>
                    <option value="Forearm(s)">Forearm(s)</option>
                    <option value="Elbow(s)">Elbow(s)</option>
                    <option value="Humerus(s)">Humerus(s)</option>
                    <option value="Shoulder(s) - including scaplua and clavicle">Shoulder(s) - including scaplua and clavicle</option>

                    <option value="Foot/Feet - including toe(s)">Foot/Feet</option>
                    <option value="Ankle(s) - including calcaneum">Ankle(s) - including calcaneum</option>
                    <option value="Tibia & Fibula(s)">Tibia & Fibula(s)</option>
                    <option value="Knee(s)">Knee(s)</option>
                    <option value="Femur(s)">Femur(s)</option>
                    <option value="Leg Length Measurement(s)">Leg Length Measurement(s)</option>

                    <option value="Pelvis - Including hip(s)">Pelvis - Including hip(s)</option>
                    <option value="Lumbar Spine - Including Sacrum">Lumbar Spine - Including Sacrum</option>
                    <option value="Thoracic Spine">Thoracic Spine</option>
                    <option value="Cervical Spine">Cervical Spine</option>
                    <option value="Whole Spine">Whole Spine</option>
                    <option value="Skull/Brain">Skull/Brain</option>
                    <option value="Whole Body">Whole Body</option>
                    
                    <option value="Other">Other</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EXAM LOCATION -->
            <label for="examination_location">Location preference</label>
            <div class="form-group">
                <label for="examination_location" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the location you would prefer to attend for your
                        examination.</span>
                </label>
                <select id="examination_location" name="examination_location" class="form-control booking-form-input"
                    placeholder="Examination Location" required>
                    <option value="Royal Blackburn Hospital" selected>Royal Blackburn Hospital</option>
                    <option value="Burnley General Hospital">Burnley General Hospital</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EXAM DATE -->
            <label for="date_of_exam">Date of Examination</label>
            <div class="form-group">
                <label for="date_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the date you would like to attend for your
                        examination.</span>
                </label>
                <input type="date" name="date_of_exam" id="date_of_exam" class="form-control booking-form-input" required>
            </div>

            <!-- EXAM TIME -->
            <label for="time_of_exam">Time of Examination</label>
            <div class="form-group">
                <label for="time_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the time you would like to attend for your
                        examination.</span>
                </label>
                <input type="time" name="time_of_exam" id="time_of_exam" class="form-control booking-form-input"
                    placeholder="Time of Examination HH:MM" required />
            </div>

            <!-- PREGNANCY QUESTION -->
            <label for="preg_status">Is there any chance you could be pregnant?</label>
            <div class="form-group">
                <label for="preg_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might be pregnant, this will affect how we carry out your examination.</span>
                </label>
                <select id="preg_status" name="preg_status" class="form-control booking-form-input"
                    placeholder="Pregnancy Status" required>
                    <option value="I am pregnant" selected>I am pregnant</option>
                    <option value="I am not pregnant">I am not pregnant</option>
                    <option value="I might be pregnant">I might be pregnant</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- WEIGHT QUESTION -->
            <label for="weight_status">Do you weigh in excess of 22kg (140kg)?</label>
            <div class="form-group">
                <label for="weight_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might weigh in excess of 22kg, this will affect how we carry out your examination.</span>
                </label>
                <select id="weight_status" name="weight_status" class="form-control booking-form-input"
                    placeholder="Weight Status" required>
                    <option value="I weigh equal to or less than 22kg" selected>I weigh equal to or less than 22kg</option>
                    <option value="I weigh more than 22kg">I weigh more than 22kg</option>
                    <option value="I'm not sure how much I weigh">I'm not sure how much I weigh</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- KIDNEY QUESTION -->
            <label for="kidney_status">Do you have any kidney function problems?</label>
            <div class="form-group">
                <label for="kidney_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have any problems with your kidney function, this will affect how we carry out your examination.</span>
                </label>
                <select id="kidney_status" name="kidney_status" class="form-control booking-form-input"
                    placeholder="Kidney Status" required>
                    <option value="I have kidney problems" selected>I have kidney problems</option>
                    <option value="I do not have kidney problems">I do not have kidney problems</option>
                    <option value="I'm not sure if I have kidney problems">I'm not sure if I have kidney problems</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- METAL QUESTION -->
            <label for="metal_status">Do you have any metal implants within your body including aneurysm clips and sterilisation clips?</label>
            <div class="form-group">
                <label for="metal_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might have metal implants within your body, this will affect how we carry out your examination.</span>
                </label>
                <select id="metal_status" name="metal_status" class="form-control booking-form-input"
                    placeholder="Metal Status" required>
                    <option value="I have metal implants within my body" selected>I have metal implants within my body</option>
                    <option value="I do not have metal implants within my body">I do not have metal implants within my body</option>
                    <option value="I'm not sure if I have metal implants">I'm not sure if I have metal implants</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- PACEMAKER QUESTION -->
            <label for="pacemaker_status">Do you have a pacemaker or have you ever had any heart surgery?</label>
            <div class="form-group">
                <label for="pacemaker_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have a pacemaker or have ever had heart surgery, this will affect how we carry out your examination.</span>
                </label>
                <select id="pacemaker_status" name="pacemaker_status" class="form-control booking-form-input"
                    placeholder="Pacemaker Status" required>
                    <option value="I have a pacemaker or have had heart surgery" selected>I have a pacemaker or have had heart surgery</option>
                    <option value="I do not have a pacemaker and have never had heart surgery">I do not have a pacemaker and have never had heart surgery</option>
                    <option value="I'm not sure">I'm not sure</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EYES QUESTION -->
            <label for="eyes_status">Have you ever had metal fragments in your eyes?</label>
            <div class="form-group">
                <label for="eyes_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have every had metal fragments in your eyes, this will affect how we carry out your examination.</span>
                </label>
                <select id="eyes_status" name="eyes_status" class="form-control booking-form-input"
                    placeholder="Eyes Status" required>
                    <option value="I have never had metal fragments in my eyes" selected>I have never had metal fragments in my eyes</option>
                    <option value="I have had metal fragments but have had them removed">I have had metal fragments but have had them removed</option>
                    <option value="I currently have metal fragments in my eyes">I currently have metal fragments in my eyes</option>
                    <option value="I'm not sure">I'm not sure</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- CLAUSTROPHOBIA QUESTION -->
            <label for="claustrophobia_status">Do you suffer from claustrophobia?</label>
            <div class="form-group">
                <label for="claustrophobia_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you suffer from claustrophobia, this will affect how we carry out your examination.</span>
                </label>
                <select id="claustrophobia_status" name="claustrophobia_status" class="form-control booking-form-input"
                    placeholder="Claustrophobia Status" required>
                    <option value="I do not suffer from claustrophobia" selected>I do not suffer from claustrophobia</option>
                    <option value="I suffer from claustrophobia">I suffer from claustrophobia</option>
                    <option value="I'm not sure if I have claustrophobia">I'm not sure if I have claustrophobia</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- COMMUNICATION & MOBILITY REQUIREMENTS -->
            <label for="comms_problems">Do you have any communication or mobility requirements?</label>
            <div class="form-group">
                <label for="comms_problems" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have any special requirements for your
                        examination that would help with any mobility or communication requirements you may have. Please put any other comments you may have here.</span>
                </label>
                <textarea rows="5" name="comms_problems" id="comms_problems" class="form-control booking-form-input"
                    placeholder="Do you have any mobility or communication requirements?"></textarea>
            </div>

            <!-- CONTACT NUMBER -->
            <label for="contact_number">Please provide a contact number to confirm your appointment.</label>
            <div class="form-group">
                <label for="contact_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">In case we need to contact you about your appointment, please provide the best number to
                        contact you on.</span>
                </label>
                <input type="text" name="contact_number" id="contact_number" class="form-control booking-form-input"
                    placeholder="Contact Number" required />
            </div>

            <!-- EMAIL ADDRESS -->
            <label for="email_address">Please provide an email address to receive your booking confirmation.</label>
            <div class="form-group">
                <label for="email_address" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">To receive your booking confirmation, please provide the best email address to contact you on.</span>
                </label>
                <input type="text" name="email_address" id="email_address" class="form-control booking-form-input"
                    placeholder="Email Address" required />
            </div>

            <!-- FORM SUBMIT BUTTON -->
            <div class="form-row text-center">
                <div class="col">
                    <a href="#"><button type="submit" class="btn btn-secondary" id="contact-button">Book <i
                                class="fas fa-calendar-alt"></i></button></a>
                </div>
            </div>
        </form>
    </div>
    <!-- END OF MRI BOOKING FORM -->

</div>


{% endblock content %}