{% extends 'base.html' %}


{% block content %}
<div class="book-container">
    <div class="book-hero"></div>
    
    <!-- XRAY BOOKING FORM -->
        
            <div class="center-form">
                <form name="xrayForm" class="booking-form" method="POST" onsubmit="return validateForm()">
                    <h1 class="book-title">Book your X-Ray exam</h1>

                    {% if messages %}
                    <div class="card notification-card notification-invitation">
                        <div class="card-body">
                            {% for message in messages %}
                            <div class="card-title">{{message}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    
            {% csrf_token %}
            <!-- REQUEST NUMBER -->
            <label for="request_number">Request Number</label>
            <div class="form-group">
                <span for="request_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer and is 8 numbers long. If you haven't been given a paper request and don't know the request number, please leave this blank.</span>
                    </span>
                <input type="text" name="request_number" id="request_number" class="form-control booking-form-input"
                    placeholder="12345678" />
            </div>

            <!-- HOSPITAL NUMBER -->
            <label for="hospital_number">Hospital Number</label>
            <div class="form-group">
                <span for="hospital_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">This is found on the examination request given to you by your
                        referrer. It is in the top left corner underneath a barcode. It either starts with 'RXR' and is
                        followed by 7 numbers, or starts with 'ICE' followed by 6 numbers. If you don't know your 
                        hospital number, please leave this blank.</span>
                    </span>
                <input type="text" name="hospital_number" id="hospital_number" class="form-control booking-form-input"
                    placeholder="RXR1234567" />
            </div>

            <!-- FIRST NAME -->
            <label for="first_name">First Name</label>
            <div class="form-group">
                <span for="first_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your first name that you use at your GP surgery.</span>
                </span>
                <input type="text" name="first_name" id="first_name" class="form-control booking-form-input"
                    placeholder="Joseph" required />
            </div>

            <!-- LAST NAME -->
            <label for="last_name">Last Name</label>
            <div class="form-group">
                <span for="last_name" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your last name that you use at your GP surgery.</span>
                </span>
                <input type="text" name="last_name" id="last_name" class="form-control booking-form-input"
                    placeholder="Bloggs" required />
            </div>

            <!-- DATE OF BIRTH -->
            <label for="date_of_birth">Date of Birth</label>
            <div class="form-group">
                <span for="date_of_birth" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please provide your date of birth.</span>
                </span>
                <input type="date" name="date_of_birth" id="date_of_birth" class="form-control booking-form-input" required>
            </div>

            <!-- SPECIFIC EXAMINATION -->
            <label for="examination_type">Choose your examination</label>
            <div class="form-group">
                <span for="examination_type" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please select the examination on your request here. If you have more than one body part on your exam request, you will need to submit another form. If your 
                        examination isn't listed, please write in the 'communication and mobility requirements' box the examination you think you are having.
                    </span>
                </span>
                <select id="examination_type" name="examination_type" class="form-control booking-form-input"
                    placeholder="Examination type">
                    <option value="Chest - including lungs and heart">Chest</option>
                    <option value="Abdomen - including kidneys and bladder">Abdomen - including kidneys and bladder</option>

                    <option value="Hand(s) - including finger(s)">Hand(s) - including finger(s)</option>
                    <option value="Wrist(s) - including scaphoid">Wrist(s) - including scaphoid</option>
                    <option value="Forearm(s)">Forearm(s)</option>
                    <option value="Elbow(s)">Elbow(s)</option>
                    <option value="Humerus(s)">Humerus(s)</option>
                    <option value="Shoulder(s) - including scapula and clavicle">Shoulder(s) - including scapula and clavicle</option>

                    <option value="Foot/Feet - including toe(s)">Foot/Feet</option>
                    <option value="Ankle(s) - including calcaneum">Ankle(s) - including calcaneum</option>
                    <option value="Tibia & Fibula(s)">Tibia & Fibula(s)</option>
                    <option value="Knee(s)">Knee(s)</option>
                    <option value="Femur(s)">Femur(s)</option>
                    <option value="Leg Length Measurement(s)">Leg Length Measurement(s)</option>

                    <option value="Pelvis - Including hip(s)">Pelvis - Including hip(s)</option>
                    <option value="Lumbar Spine - Including Sacrum">Lumbar Spine - Including Sacrum</option>
                    <option value="Thoracic Spine">Thoracic Spine</option>
                    <option value="Cervical Spine">Cervical Spine</option>
                    <option value="Whole Spine - for scoliosis">Whole Spine - for scoliosis</option>
                    <option value="Skull">Skull</option>
                    <option value="Skeletal Survey - for Multiple Myeloma">Skeletal Survey - for Multiple Myeloma</option>
                    
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EXAM LOCATION -->
            <label for="examination_location">Location preference</label>
            <div class="form-group">
                <span for="examination_location" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the location you would prefer to attend for your
                        examination.</span>
                    </span>
                <select id="examination_location" name="examination_location" class="form-control booking-form-input"
                    placeholder="Examination Location" required>
                    <option value="Royal Blackburn Hospital" selected>Royal Blackburn Hospital</option>
                    <option value="Burnley General Hospital">Burnley General Hospital</option>
                    <option value="Accrington Victoria Hospital">Accrington Victoria Hospital</option>
                    <option value="Barbara Castle Way Health Center">Barbara Castle Way Health Center</option>
                    <option value="Rossendale Primary Health Center">Rossendale Primary Health Center</option>
                    <option value="Clitheroe Community Hospital">Clitheroe Community Hospital</option>
                    <option value="Pendle Community Hospital">Pendle Community Hospital</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- EXAM DATE -->
            <label for="date_of_exam">Date of Examination</label>
            <div class="form-group">
                <span for="date_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the date you would like to attend for your
                        examination.</span>
                    </span>
                <input type="date" name="date_of_exam" id="date_of_exam" class="form-control booking-form-input" required placeholder="Date of Exam">
            </div>

            <!-- EXAM TIME -->
            <label for="time_of_exam">Time of Examination</label>
            <div class="form-group">
                <span for="time_of_exam" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please choose the time you would like to attend for your
                        examination.</span>
                    </span>
                <input type="time" name="time_of_exam" id="time_of_exam" class="form-control booking-form-input"
                    placeholder="Time of Examination HH:MM" required />
            </div>

            <!-- PREGNANCY QUESTION -->
            <label for="preg_status">Is there any chance you could be pregnant?</label>
            <div class="form-group">
                <span for="preg_status" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if there is any chance you might be pregnant, this will affect how we carry out your examination.</span>
                </span>
                <select id="preg_status" name="preg_status" class="form-control booking-form-input"
                    placeholder="Pregnancy Status" required>
                    <option value="I am pregnant" selected>I am pregnant</option>
                    <option value="I am not pregnant">I am not pregnant</option>
                    <option value="I might be pregnant">I might be pregnant</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>

            <!-- COMMUNICATION & MOBILITY REQUIREMENTS -->
            <label for="comms_problems">Do you have any communication or mobility requirements?</label>
            <div class="form-group">
                <span for="comms_problems" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">Please let us know if you have any special requirements for your
                        examination that would help with any mobility or communication requirements you may have. Please put any other comments you may have here.</span>
                    </span>
                <textarea rows="5" name="comms_problems" id="comms_problems" class="form-control booking-form-input"
                    placeholder="Do you have any mobility or communication requirements?"></textarea>
            </div>

            <!-- CONTACT NUMBER -->
            <label for="contact_number">Please provide a contact number to confirm your appointment.</label>
            <div class="form-group">
                <span for="contact_number" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">In case we need to contact you about your appointment, please provide the best number to
                        contact you on.</span>
                    </span>
                <input type="text" name="contact_number" id="contact_number" class="form-control booking-form-input"
                    placeholder="Contact Number" required />
            </div>

            <!-- EMAIL ADDRESS -->
            <label for="email_address">Please provide an email address to receive your booking confirmation.</label>
            <div class="form-group">
                <span for="email_address" class="info-hover"><i class="fas fa-info-circle"></i>
                    <span class="info-hover-text">To receive your booking confirmation, please provide the best email address to contact you on.</span>
                </span>
                <input type="email" name="email_address" id="email_address" class="form-control booking-form-input"
                    placeholder="Email Address" required />
            </div>

            <!-- FORM SUBMIT BUTTON -->
            <div class="form-row text-center">
                <div class="col">
                    <a href="#"><button type="submit" class="btn btn-secondary" id="contact-button">Book <i
                                class="fas fa-calendar-alt"></i></button></a>
                </div>
            </div>
        </form>
    </div>
    <!-- END OF XRAY BOOKING FORM -->

</div>


{% endblock content %}