{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero angio-hero"></div>
    <h1 class="examination-title">Angiography</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_angio' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Angiography is a radiology modality that is usually used to aid in the positioning and implementation of
                medical devices such as stents and as a
                diagnostic tool to determine how damaged a blood vessel might be (among other things).
                These examinations can sometimes be quite invasive for patients and depending on the examination,
                patients can sometimes be sedated.
                If you have been diagnosed with a blood vessel disorder such as an aortic aneurysm, you may be a
                candidate for an angiography procedure to
                treat this pathology.

                Much like Fluoroscopy, Angiography is a way of seeing your body in action, and gives us the ability to
                see how parts of your body work in real-time and why it might
                not be working properly by having a contrast material inside you, and then taking an x-ray to see where
                the contrast material is, if this
                contrast material isn't flowing through vessels as it should, then you may have a blockage/obstruction.
            </p>

            <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination
                is necessary for the management
                and progression of your care and diagnosis, if you are unsure why you need this examination, please
                discuss this further with your
                referring physician.
            </span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will
                receive during an angiography examination will entirely depend on the area of the body that is being
                imaged and is usually proportional to the thickness
                (or density) of the area of the body. Generally due to the nature of live x-ray imaging and the long
                exposures needed to carry out these examinations, the
                overall radiation doses patients receive from these examinations can be very high, and therefore the
                radiation risks can be higher than those from other
                radiation-based examinations such as plan-film x-ray. The length of time and intricacies of placing
                stents is also a factor to consider when thinking about
                radiation safety in angiography, many images may be needed to ensure an optimal position of medical
                devices - the more images that are taken, the more radiation
                you will receive and therefore the radiation related risks will be higher.
            </p>
            <span class="exam-prerequisite">There is always a risk with any diagnostic (or therapeutic) intervention
                that uses radiation. Your referring physician has been trained to weigh up
                the risks and benefits of the dose of radiation you will receive in the examination that has been
                requested for you.
            </span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the angiography department, your practitioner will tell you
                exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Some examinations will involve you being
                sedated to ensure you are as comfortable as possible, for
                most angiography procedures there will be multiple members of staff involved in your care including
                nurses, radiographers and doctors, and they will let you know
                at every step what you need to do. If you are still awake for your procedure, when the practitioner has
                positioned you for imaging, it is very important that you stay extremely still until they tell you to
                move again. Moving before or during
                your imaging may result in an un-diagnostic image which would mean it needs to be taken again, resulting
                in you receiving more radiation.<br><br>
                After your examination, the practitioner will confirm you know where and how to get your results and you
                may be taken to a ward or recovery room to come round from your
                sedation or to control any pain you might have. 
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your angiography practitioner will firstly confirm that you are the correct person for this examination,
                they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask
                everybody. <br><br>

                They will discuss with you the details of the procedure and let you know if you need to be sedated for
                it, if you do then this will usually happen in in the
                examination room or in a sub-waiting area next to the examination room.

                They may or may not stay in the room with you while you undergo imaging, if they stay
                with you, they will wear a lead gown to shield them from radiation (they must wear these as they are in
                contact with radiation every day and this will reduce their overall
                dose of radiation over a long period of time), if they don't stay with you then they will be behind the
                x-ray screen to take your images.

                Once your images have been taken, they will
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this
                includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is
                on the image and that the reporters will be able to make a
                firm diagnosis from your images) this can take some time, and you should try and stay in the same
                position while the practitioner is doing this just in case they
                need another image to aid in a better diagnosis.
            </p>
        </div>
    </div>
</div>
{% endblock content %}