{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero ct-hero"></div>
    <h1 class="examination-title">CT</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_ct' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>CT scans are a quick and easy way to diagnose a range of pathologies and are usually minimally invasive
                for patients.
                Your referring physician will want you to have this examination to either confirm or rule out a possible
                diagnosis.
                Where plain film x-rays produce an image on a single plane, CT scans are able to produce images on
                multiple planes to be able to provide a more in depth
                view of the area of interest. The most common reasons to have a CT scan are: to diagnose muscle and bone
                disorders, such as bone tumors and fractures, to
                pinpoint the location of a tumor, infection or blood clot or to guide procedures such as surgeries and
                biopsies.
            </p>
            <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination
                is necessary for the management
                and progression of your care and diagnosis, if you are unsure why you need this examination, please
                discuss this further with your
                referring physician.
            </span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will
                receive during an CT examination will entirely depend on the area of the body that is being imaged. The
                dose you would receive from a CT scan are much more
                than those received from a plain film x-ray and as such, the radiation related risks from this
                examination are higher. To put things in perspective,
                the average dose for a plain film chest x-ray is equivalent to roughly 10 days of natural background
                radiation, the radiation dose you would receive
                from a CT scan of your chest is roughly the equivalent of 2 years worth of natural background radiation.
            </p>
            <span class="exam-prerequisite">There is always a risk with any diagnostic (or therapeutic) intervention
                that uses radiation. Your referring physician has been trained to weigh up
                the risks and benefits of the dose of radiation you will receive in the examination that has been
                requested for you.
            </span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the CT department, your CT practitioner will tell you exactly
                what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most examinations will be carried out with
                you laying on the CT table with your head towards the
                CT scanner. The practitioner will ensure you are in the right position for your scan.<br><br>

                There is a chance that for your particular scan, you may need to have a canula placed in your hand,
                wrist or elbow to allow for the administration of an
                intravenous contrast agent - this can show certain anatomical structures in more detail. The placement
                of the canula can be painful, however the
                administration of the contrast should not be - if it is, you should tell the CT practitioner
                immediately. When the contrast agent goes into your arm, you may
                get a strange sensation going down your arm and through your body which can sometimes result in the
                feeling that you have wet yourself, please be assured, you haven't!<br><br>

                It is very important that when the practitioner is happy with your positioning, you stay extremely still
                until they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic CT scan which would mean it needs to be taken again,
                resulting in you receiving more radiation.<br><br>
                After your CT, the practitioner will confirm you know where and how to get your results. If you were
                changed into an CT gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your CT practitioner will firstly confirm that you are the correct person for this examination, they will
                ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask
                everybody. They (or a member of the team) may also place a canula
                in your hand, wrist or elbow (though this doesn't always happen) depending on the type of scan you are
                having. <br><br>They will then position you for your CT examination,
                they will tell you where you need to be for your imaging (e.g. laying or sitting down), and they may
                need to touch you to ensure you are in the correct place. Once they are
                happy with your position, you will be asked to stay very still while they go into the control room to
                take your scan. Once your scan has been taken, they will
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this
                includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is
                on the image and that the reporters will be able to make a
                firm diagnosis from your scan) this can take some time, and you should try and stay in the same position
                while the practitioner is doing this just in case they
                need another image to aid in a better diagnosis.<br><br> If you have had a canula for your scan, the
                practitioner will remove this before you leave the department however
                they may leave it in for a little while after your scan just in case you have a reaction to the contrast
                agent.
            </p>
        </div>
    </div>
</div>
{% endblock content %}