{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero dexa-hero"></div>
    <h1 class="examination-title">Dexa</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="#">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea itaque, corporis voluptates deleniti nostrum
                illum repellat
                repellendus assumenda ipsum molestiae nihil ab facilis nemo numquam minus cupiditate! Ratione, mollitia
                est?</p>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea itaque, corporis voluptates deleniti nostrum
                illum repellat
                repellendus assumenda ipsum molestiae nihil ab facilis nemo numquam minus cupiditate! Ratione, mollitia
                est?</p>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea itaque, corporis voluptates deleniti nostrum
                illum repellat
                repellendus assumenda ipsum molestiae nihil ab facilis nemo numquam minus cupiditate! Ratione, mollitia
                est?</p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea itaque, corporis voluptates deleniti nostrum
                illum repellat
                repellendus assumenda ipsum molestiae nihil ab facilis nemo numquam minus cupiditate! Ratione, mollitia
                est?</p>
        </div>
    </div>
</div>
{% endblock content %}