{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero dexa-hero"></div>
    <h1 class="examination-title">Dexa</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_dexa' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Dexa scans are a quick and easy way to determine a persons' bone density.
                Your referring physician will want you to have this examination to either confirm or rule out the
                possibility of having bones that are less dense than
                they should be normally. A lack of bone density can be caused by a number of reasons, including (but not
                limited to) medication, age, diet and injury.
                Once your referring physician knows if you have a lack of bone density, they can then ensure you are
                given treatment to correct or reduce
                the symptoms/side effects of this pathology.
            </p>
            <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination
                is necessary for the management
                and progression of your care and diagnosis, if you are unsure why you need this examination, please
                discuss this further with your
                referring physician.
            </span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>Dexa scans use radiation to create an image - much like x-rays, however the dose you will receive from
                this type of examination is extremely low and
                is roughly the equivalent of 3 hours worth of natural background radiation (about the same as you would
                receive for a hand x-ray). In most cases,
                two areas will be images during a dexa scan to determine the density of your bones: your hip and your
                lower spine, however if you have had surgery on
                either of these areas and have any metalwork in that area, the computer will interpret this as being
                extra-dense and not give an accurate and diagnostic
                result, so it is extremely important to advise your dexa practitioner on any previous surgery you may
                have had, otherwise you may need to receive more
                radiation than is necessary. 
            </p>

            <span class="exam-prerequisite">There is always a risk with any diagnostic (or therapeutic) intervention
                that uses radiation. Your referring physician has been trained to weigh up
                the risks and benefits of the dose of radiation you will receive in the examination that has been
                requested for you.
            </span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the dexa department, your practitioner will tell you exactly what
                you need to do. Depending on the examination
                you need and whether you are having your hip, spine or wrist imaged will change how we carry out your
                examination. For lumbar spine images, you will be asked to lay on your
                back with your lower legs lifted on a block, for a hip image, you will be layed flat with your legs
                straight, and for a wrist image you will usually be sat on a chair at the
                side of the table (but not always).<br><br>

                It is very important that when the practitioner is happy with your positioning, you stay extremely still
                until they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic image which would mean it needs to be taken again, resulting
                in you receiving more radiation.<br><br>
                After your scan, the practitioner will confirm you know where and how to get your results. If you were
                changed into a gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your dexa practitioner will firstly confirm that you are the correct person for this examination, they
                will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask
                everybody. <br><br>They will then take your height and weight
                as these are added to the calculations when measuring your bone density, and check your medical history
                to see if you have had any surgery on your spine, hip or wrist.
                They will then position you for your dexa scan, they will tell you whether you need to sit or lay down
                for your imaging, and they may need to touch you to ensure you are in the correct place. Once they are
                happy with your position, you will be asked to stay very still while they take your image, depending on
                the layout of the dexa room, they may stay with you while your
                image is being taken - this usually takes about 5 minutes. Once your scan has been taken, they will
                check they have everything they need on your pictures (this includes ensuring all your personal details
                have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is
                on the image and that the reporters will be able to make a
                firm diagnosis from your scan) this can take some time, and you should try and stay in the same position
                while the practitioner is doing this just in case they
                need another image to aid in a better diagnosis.
            </p>
        </div>
    </div>
</div>
{% endblock content %}