{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero fluoro-hero"></div>
    <h1 class="examination-title">Fluoroscopy</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_fluoro' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Fluoroscopy is a quick and easy way to diagnose a range of pathologies and is a radiology modality that is usually minimally invasive for patients. 
                Your referring physician will want you to have this examination to either confirm or rule out a possible diagnosis. 
                Fluoroscopy is a way of seeing your body in action, and gives us the ability to see how parts of your body work in real-time and why it might
                not be working properly by having a contrast material inside you, and then taking an x-ray to see where the contrast material is. </p>

                <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination is necessary for the management 
                    and progression of your care and diagnosis, if you are unsure why you need this examination, please discuss this further with your 
                    referring physician.</span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will 
                recieve during a fluoroscopy examination will entirely depend on the area of the body that is being imaged and is usually proportional to the thickness 
                (or density) of the area of the body. Generally due to the nature of live x-ray imaging and the long exposures needed to carry out these examinations, the 
                overall radiation doses patients receive from these examinations can be very high, and therefore the radiation risks can be higher than those from other 
                radiation-based examinations such as plan-film x-ray.</p> 
                <span class="exam-prerequisite">There is always a risk with any diagnostic (or theraputic) intervention that uses radiation. Your referring physician has been trained to weigh up
                    the risks and benefits of the dose of radiation you will receive in the examination that has been requested for you.</span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the fluoroscopy department, your practitioner will tell you exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most examinations will involve the administration of a contrast agent into the area of the body 
                that is to be examined - this may be via oral, rectal or vaginal administration. Fluoroscopy examinations can be carried out stood up, sat down, or laying on 
                the examination table - your practitioner will let you know where you need to be.
                <br><br>
                It is very important that when the practitioner is happy with your positioning, you stay extremely still untill they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic image which would mean it needs to be taken again, resulting in you receiving more radiation.<br><br>
                After your examination, the practitioner will confirm you know where and how to get your results. If you were changed into an x-ray gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your fluoroscopy practitioner will firstly confirm that you are the correct person for this examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask everybody. <br><br>They may have prepared the room and the 'contrast agent' 
                before you enter the examination room, they will prepare you for imaging by either administering the contrast agent themselves (e.g. for a hysterosalpingogram) or they will give 
                the contrast agent to you if it is adminstered orally so you can swallow it. They may or may not stay in the room with you while you undergo imaging, if they stay 
                with you, they will wear a lead gown to shield them from radiation (they must wear these as they are in contact with radiation every day and this will reduce their overall 
                dose of radiation over a long period of time), if they don't stay with you then they will be behind the x-ray screen to take your images.
                
                
                They will position you for your examination and tell you whether you need to sit, stand or lay down for your imaging. Once they are
                happy with your position, you will be asked to stay very still while they take your images. Once your images have been taken, they will 
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is on the image and that the reporters will be able to make a
                firm diagnosis from your images) this can take some time, and you should try and stay in the same position while the practitioner is doing this just in case they 
                need another image to aid in a better diagnosis.
            </p>
        </div>
    </div>
</div>
{% endblock content %}