{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero mri-hero"></div>
    <h1 class="examination-title">MRI</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_mri' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>MRI scans are an in-depth way to diagnose a range of pathologies and are usually minimally invasive for patients. 
                Your referring physician will want you to have this examination to either confirm or rule out a possible diagnosis. 
                MRI scans produce an image that is fairly similar to a CT scan, however the main difference is that MRI scans use magnets and a magnetic field to
            produce an image whereas CT scans use radiation - there is no risk of radiation exposure from an MRI scanner. MRI scans can be used to diagnose problems
        with soft tissues such as tendons and ligaments and give in-depth images of organs and tissues around the body.</p>
                <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination is necessary for the management 
                    and progression of your care and diagnosis, if you are unsure why you need this examination, please discuss this further with your 
                    referring physician.</span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>There is no risk of radiation exposure from an MRI scanner so in a way it is one of the safest diagnostic examination methods available. However,
                anybody going in or near an MRI scanner has to be sure there is no ferrous metal in or around their body as this will be affected by the MRI scanner and
                can cause serious harm to the person as well as the equipment, resulting in injury or even death in extreme cases. There is also the time it takes to have
                the scan to consider - some MRI scans can take up to an hour to produce the images, and during this time you must lay perfectly still otherwise the image
                will be un-diagnostic, this can be difficult for anybody, but particularly for those with physical disabilities and for young children. MRI scans can also be
                quite frightening for those with conditions such as claustrophobia as the patient must be placed within the MRI scanner which has a very limited space and
                 then be subjected to very loud noises as the scan progesses.
            </p>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the MRI department, your MRI practitioner will tell you exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most examinations will be carried out with you laying on the MRI table with your head towards the
                MRI scanner (though you may have your feet towards the scanner depending on the area of your body being imaged). 
                The practitioner will ensure you are in the right position for your scan.<br><br>

                There is a chance that for your particular scan, you may need to have a canula placed in your hand, wrist or elbow to allow for the administration of an 
                intravenous contrast agent - this can show certain anatomical structures in more detail. The placement of the canula can be painful, however the 
                administration of the contrast should not be - if it is, you should tell the MRI practitioner imediately.<br><br>
                
                It is very important that when the partitioner is happy with your positioning, you stay extremely still untill they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic MRI scan which would mean it needs to be taken again, resulting in you needing to spend even longer in a potentially
                uncomfortable position on the MRI table.<br><br>
                After your MRI, the practitioner will confirm you know where and how to get your results. If you were changed into an hospital gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your MRI practitioner will firstly confirm that you are the correct person for this examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask everybody. They (or a member of the team) will also ask you a 
                number of safety questions to ensure that it is safe for you to have this type of scan, they may also place a canula
                in your hand, wrist or elbow (though this doesn't always happen) depending on the type of scan you are having. <br><br>They will then position you for your MRI examination,
                they will tell you where you need to be for your imaging (e.g. laying or sitting down), and they may need to touch you to ensure you are in the correct place, they may also
                place some extra equipment on or around the area of the body that is being scanned. Once they are
                happy with your position, you will be asked to stay very still while they go into the control room to take your scan. Once your scan has been taken, they will 
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is on the image and that the reporters will be able to make a
                firm diagnosis from your scan) this can take some time, and you should try and stay in the same position while the practitioner is doing this just in case they 
                need another image to aid in a better diagnosis.<br><br> If you have had a canula for your scan, the practitioner will remove this before you leave the department however
                they may leave it in for a little while after your scan just in case you have a reaction to the contrast agent.
            </p>
        </div>
    </div>
</div>
{% endblock content %}