{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero mammo-hero"></div>
    <h1 class="examination-title">Mammography</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_mammo' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Mammograms are a quick and easy way to diagnose a range of pathologies of the breast tissue and are minimally invasive for patients. 
                Your referring physician will want you to have this examination to either confirm or rule out a possible diagnosis. 

                You may be having a mammogram as part of the NHS breast screening programme, this is to detect any early signs of potential breast cancer,
                as finding cancers early increases the chances of a full recovery and being cancer-free in the future.</p>
                <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination is necessary for the management 
                    and progression of your care and diagnosis, if you are unsure why you need this examination, please discuss this further with your 
                    referring physician.</span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will 
                recieve during a mammogram is usually proportional to the thickness 
                (or density) of the breast tissue being imaged - e.g. the radiation dose dense breasts will be higher than the dose of breasts that are less dense. 
                
                The approximate effective radiation dose for digital mammography screening is 0.21mSv which is comparable to 26 days worth of natural background radiation.
                However it has been widely studied and reviewed that the risk of breast cancers going undetected without the screening programme is much higher than the risk
                of the radiation dose from the screening itself.</p>
                
                <span class="exam-prerequisite">There is always a risk with any diagnostic (or theraputic) intervention that uses radiation. Your referring physician has been trained to weigh up
                    the risks and benefits of the dose of radiation you will receive in the examination that has been requested for you.</span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the mammography department, your mammography practitioner will tell you exactly what you need to do. 
                Most mammograms are taken with you standing up, however let your practitioner know if this will be difficult for you. <br><br>
                You will usually be asked to wear an open-fronted gown for this examination, and when the time is right, you will need to open the gown and place
                your breast on the x-ray plate, another plate will then be brought down to compress your breast tissue in order to make your image more diagnostic and
                more likely to detect any abnormalities, this will be uncomfortable but it won't be for long.
                It is very important that when the partitioner is happy with your positioning, you stay extremely still untill they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic mammogram which would mean it needs to be taken again, resulting in you receiving more radiation.<br><br>
                After your examination, the practitioner will confirm you know where and how to get your results. If you were changed into a hospital gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your mammography practitioner will firstly confirm that you are the correct person for this examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask everybody. <br><br>They will then position you for your examination,
                they will tell you where to stand for your mammogram, and they may need to touch you to ensure you are in the correct place, they will then position the equipment
                in order to produce a highly diagnostic image. Once they are
                happy with your position, you will be asked to stay very still while they go behind the x-ray screen to take your image. Once your mammogram has been taken, they will 
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is on the image and that the reporters will be able to make a
                firm diagnosis from your image) this can take some time, and you should try and stay in the same position while the practitioner is doing this just in case they 
                need another image to aid in a better diagnosis.
            </p>
        </div>
    </div>
</div>
{% endblock content %}