{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero nm-hero"></div>
    <h1 class="examination-title">Nuclear Medicine</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_nm' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Nuclear Medicine scans are an in-depth way to diagnose a range of pathologies by looking at the rate of
                metabolic activity within your body structures.
                While most other imaging modalities create and produce images using external sources such as radiation,
                sound waves or magnetic fields, nuclear
                medicine is slightly different. It uses an injection of radioactive material into a vein in your hand,
                wrist or elbow which will then be drawn to
                areas of your body that are most 'active', this can be for pathologies such as tumours, and can asses
                areas such as the thyroid, heart, bones and kidneys.


                Your referring physician will want you to have this examination to either confirm or rule out a possible
                diagnosis.
                Nuclear medicine scans produce an image that shows areas that have picked up the most radioactive
                material (tracer), you will usually need to wait at least
                a couple of hours between having your injection and then having your scan to allow your body to
                circulate the tracer. Some nuclear medicine scans
                also include a CT scan afterwards (as part of the same machine) which can give an even more in-depth
                image of the area of interest.
            </p>

            <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination
                is necessary for the management
                and progression of your care and diagnosis, if you are unsure why you need this examination, please
                discuss this further with your
                referring physician.
            </span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will
                receive during a nuclear medicine examination will depend on the area of the body that needs to be
                imaged, as different areas of the body may need a
                slightly different radioactive material which may give off higher doses of radiation and may have a
                longer half-life (the time it takes for the radiation
                the tracer gives off to reduce by half). If you have the type of scan which includes a CT scan, you will
                also have the risks from this type of examination
                too - see <a href="{% url 'computed_tomography' %}"><strong>HERE</strong></a> for information on CT
                scans.<br><br>

                The approximate effective radiation dose from a full body PET/CT scan is 22.7mSv which is roughly the
                equivalent of 3.3 years worth of natural
                background radiation, this is one of the highest doses of radiation from any diagnostic investigation
                and is why these types of scans are more uncommon than other
                types of investigation.<br><br>
                Due to the nature of this scan being to make you the source of radiation, this also poses a risk to
                people around you for a certain amount of time, particularly young children and
                pregnant women, your practitioner will advise you on how to minimise these risks.
            </p>
            <span class="exam-prerequisite">There is always a risk with any diagnostic (or therapeutic) intervention
                that uses radiation. Your referring physician has been trained to weigh up
                the risks and benefits of the dose of radiation you will receive in the examination that has been
                requested for you.</span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the Nuclear Medicine department, your practitioner will tell you
                exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most examinations will be carried out with
                you laying on the examination table or with you sat up
                with your back against the imaging plate. The practitioner will ensure you are in the right position for
                your scan.<br><br>

                For all nuclear medicine scans, you will need to have a canula placed in your hand, wrist or elbow to
                allow for the administration of a radioactive tracer.
                The placement of the canula can be painful, however the
                administration of the tracer should not be - if it is, you should tell the practitioner
                immediately.<br><br>

                When the radioactive tracer has been administered, you will be advised how long you need to wait until
                your images are taken (this is usually between 1 and 3 hours)
                depending on the type of scan you are having. If you leave the department, your practitioner will advise
                you on some safety aspects that you will need to follow.
                When you are ready for your imaging, the practitioner will take you into the imaging room and position
                you in a way to produce the most diagnostic images.

                It is very important that when the practitioner is happy with your positioning, you stay extremely still
                until they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic scan which would mean it needs to be taken again, resulting
                in you having to stay still for even longer, or even having
                to come back at a later date to have another injection of tracer and to have the images taken
                again.<br><br>
                After your scan, the practitioner will confirm you know where and how to get your results. If you were
                changed into an hospital gown for your examination, you will now
                be able to get changed back into your normal clothes. The nuclear medicine practitioner will let you
                know if there is anything you need to do for the rest of the day
                and near future to ensure the safety of yourself and others around you.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your nuclear medicine practitioner will firstly confirm that you are the correct person for this
                examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask
                everybody. They (or a member of the team) will also ask you a
                number of safety questions to ensure that it is safe for you to have this type of scan, they will also
                place a canula
                in your hand, wrist or elbow and administer a radioactive tracer into your body. <br><br>They will then
                advise you of how long you need to wait until you have your
                images taken (this can be quite some time) and will let you know if you are able to leave the department
                or not. When you return to the department
                they will then position you for your nuclear medicine examination,
                they will tell you where you need to be for your imaging (e.g. laying or sitting down), and they may
                need to touch you to ensure you are in the correct place. Once they are
                happy with your position, you will be asked to stay very still while the images are taken. This process
                can sometimes take up to 30 minutes, there is no noise and
                should not be uncomfortable. The practitioner may come in an out of the room while your images are being
                taken but it is important to stay very still until they
                tell you that you can move again.
                Once your scan has been taken, they will
                stay behind the screen for a few minutes to ensure they have everything they need on your pictures (this
                includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is
                on the image and that the reporters will be able to make a
                firm diagnosis from your scan) this can take some time, and you should try and stay in the same position
                while the practitioner is doing this.<br><br>
                If you have had a canula for your scan, the practitioner will remove this before you leave the
                department however
                they may leave it in for a little while after your scan just in case you have a reaction to anything
                they have administered to you.
            </p>
        </div>
    </div>
</div>
{% endblock content %}