{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero us-hero"></div>
    <h1 class="examination-title">Ultrasound</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_ultrasound' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>Ultrasound scans are a quick and easy way to assess structures and diagnose a range of pathologies and are usually minimally invasive for patients. 
                Your referring physician will want you to have this examination to either confirm or rule out a possible diagnosis or to assess an area of your body
                to determine how your condition is progressing (such as a pregnancy), these scans can also be used to guide other procedures such as biopsies. 
                Ultrasound scans produce an image using high frequency sound waves and are taken using ultrasound probes (transducers) that can be used externally (on
                the skin surface) or internally (such as in the vagina or rectum). How your scan is taken will depend on the condition your referring physician wants
                to assess.</p>
                <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination is necessary for the management 
                    and progression of your care and diagnosis, if you are unsure why you need this examination, please discuss this further with your 
                    referring physician.</span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>There is no risk of radiation exposure from an ultrasound scan so in a way it is one of the safest diagnostic examination methods available. However,
                you may experience some discomfort as the probe is pressed over your skin or inserted into your body. If you're having an internal scan and are allergic 
                to latex, it's important to let the practitioner carrying out the scan know this so they can use a latex-free probe cover. Endoscopic ultrasounds can 
                be a bit more uncomfortable and can cause temporary side effects, such as a sore throat or bloating. There's also a small risk of more serious 
                complications, such as internal bleeding. There have been studies to suggest that overuse of ultrasound technology by inadequately trained practitioners
                can cause problems brought on my increased temperatures of the tissues being imaged, this is why it is usually discouraged from having repeated scans
                during pregnancy for 'keepsake' images, as this is an unnecessary risk to the fetus.
            </p>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the ultrasound department, your ultrasound practitioner will tell you exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most examinations will be carried out with you laying on the ultrasound table. 
                The practitioner will ensure you are in the right position for your scan.<br><br>

                There is a chance that for your particular scan, you may need to have an ultrasound probe inserted into your body to assess structures more clearly, the
                practitioner will ensure you are comfortable for this to take place and will try to make you as comfortable as possible throughout the procedure.
                
                
                It is very important that when the partitioner is imaging, you stay very still untill they tell you to move again, they may ask you to hold your breath at certain
                points in the imaging process and may need to press quite firmly on the area they are imaging with the ultrasound probe.
                
                After your ultrasound, the practitioner will confirm you know where and how to get your results. If you were changed into an hospital gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your ultrasound practitioner will firstly confirm that you are the correct person for this examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask everybody. <br><br>
                
                They will then instruct you on where you need to sit or lay down for your examination. They may ask you to lift up or remove items of clothing to make it easier
                to place ultrasound gel on the area of your body to be imaged (e.g. on your abdomen), they will then use the ultrasound probe to look at internal structures in
                your body.
                
                Once your scan has been taken, they will look through your images and ensure they have everything they need from your scan (this includes ensuring all your personal details have been
                transferred over correctly, that all of the area of interest is on the image and that the reporters will be able to make a
                firm diagnosis from your scan) this can take some time. Some ultrasound practitioners that have had extra training will also write the report for your scan,
                however they will not be able to give you the results while you are still in the department, as this is a very technical and important stage and will take some time.<br><br> 
            </p>
        </div>
    </div>
</div>
{% endblock content %}