{% extends 'base.html' %}


{% block content %}
<div class="examination-container">
    <div class="examination-hero xray-hero"></div>
    <h1 class="examination-title">X-ray</h1>
    <div class="grid grid-1">
        <div class="grid-div-1">
            <div class="book-here">
                <p>Have a request for this examination?</p>
                <a href="{% url 'book_xray' %}">Book here</a>
            </div>
        </div>
        <div class="grid-div-2 grid-div">
            <h2>Why do you need this examination?</h2>
            <p>X-rays are a quick and easy way to diagnose a range of pathologies and are minimally invasive for patients. 
                Your referring physician will want you to have this examination to either confirm or rule out a possible diagnosis. 
                X-rays are the bread and butter of most radiology departments and are mostly associated with pathologies of bones and joints,
            however their usefullness should not be underestimated in diagnosing pathologies in other areas of the body such as the chest and abdomen.</p>
                <span class="exam-prerequisite">Your referring physician should have discussed with you why this examination is necessary for the management 
                    and progression of your care and diagnosis, if you are unsure why you need this examination, please discuss this further with your 
                    referring physician.</span>
        </div>
        <div class="grid-div-3 grid-div">
            <h2>Is it safe?</h2>
            <p>The dose of radiation you will 
                recieve during an x-ray examination will entirely depend on the area of the body that is being imaged and is usually proportional to the thickness 
                (or density) of the area of the body - e.g. a radiation dose for an abdomen will be higher than the dose for a finger. An average dose for a chest 
                x-ray is anywhere between 5uGym2 - 15uGym2 however this can be smaller, or much larger depending on the size of the patients chest and how much extra
                tissue they have around this area (muscular or fatty tissue).</p>
                <span class="exam-prerequisite">There is always a risk with any diagnostic (or theraputic) intervention that uses radiation. Your referring physician has been trained to weigh up
                    the risks and benefits of the dose of radiation you will receive in the examination that has been requested for you.</span>
        </div>
    </div>
    <div class="grid grid-2">
        <div class="grid-div-4 grid-div">
            <h2>What do you need to do during the examination?</h2>
            <p>When you attend for your examination in the x-ray department, your x-ray practitioner will tell you exactly what you need to do. Depending on the examination
                you need, this will change how we carry out your examination. Most upper limb examinations as well as chest xrays, neck x-rays and skull x-rays are taken 
                standing up or sitting down, most lower limb x-rays, thoracic and lumbar spine x-rays and abdomen x-rays are taken with you laying on the x-ray table. <br><br>
                It is very important that when the partitioner is happy with your positioning, you stay extremely still untill they tell you to move again. Moving before or during
                your imaging may result in an un-diagnostic x-ray which would mean it needs to be taken again, resulting in you receiving more radiation.<br><br>
                After your x-ray, the practitioner will confirm you know where and how to get your results. If you were changed into an x-ray gown for your examination, you will now
                be able to get changed back into your normal clothes and carry on with your day as normal.
            </p>
        </div>
        <div class="grid-div-5 grid-div">
            <h2>What will the practitioner do during the examination?</h2>
            <p>Your x-ray practitioner will firstly confirm that you are the correct person for this examination, they will ask you to confirm your details and to confirm
                you understand what you are in the department for - these are standard questions that we must ask everybody. <br><br>They will then position you for your x-ray examination,
                they will tell you whether you need to sit, stand or lay down for your imaging, and they may need to touch you to ensure you are in the correct place. Once they are
                happy with your position, you will be asked to stay very still while they go behind the x-ray screen to take your image. Once your x-ray has been taken, they will 
                stay behind the screen for a few minutes to ensure they have everything they need on your picture (this includes ensuring all your personal details have been
                transferred over correctly, that you haven't moved during imaging, that all of the area of interest is on the image and that the reporters will be able to make a
                firm diagnosis from your x-ray) this can take some time, and you should try and stay in the same position while the practitioner is doing this just in case they 
                need another image to aid in a better diagnosis.
            </p>
        </div>
    </div>
</div>
{% endblock content %}