{% extends 'base.html' %}


{% block content %}
<div class="thanks-container">

    <div class="thanks-title" style="box-shadow: none;">
        <img src="https://res.cloudinary.com/deannacarina/image/upload/v1641468259/static/403_xgjnn3.png"
            class="error-image" alt="403 numbers" style="width: 200px"><br><br>

        Looks like we can't show that page.<br><br>

        <div class="thanks-links">
            <a href="{% url 'home' %}">Return to home</a>
        </div>
    </div>
</div>
{% endblock content %}