{% extends 'base.html' %}


{% block content %}
<div class="thanks-container">

    <div class="thanks-title" style="box-shadow: none;">
        <img src="https://res.cloudinary.com/deannacarina/image/upload/v1641468036/static/404_zl2guq.png"
            class="error-image" alt="404 numbers" style="width: 200px"><br><br>

        Looks like the page you're looking for doesn't exist.<br><br>

        <div class="thanks-links">
            <a href="{% url 'home' %}">Return to home</a>
        </div>
    </div>
</div>
{% endblock content %}