{% extends 'base.html' %}


{% block content %}

<!-- -----HERO IMAGE----- -->
<div class="hero-container">
    <div class="hero-text">
        <h1>ELHT Radiology</h1>
        <p class="hero-p1">Booking Service</p>
        <p class="hero-p2">Safe, personal and effective diagnostic care across East Lancashire, to make your healthcare journey stress-free.</p>
        <p><a href="#booking-container">Book an appointment</a></p>
    </div>
</div>
<!-- -----END OF HERO IMAGE----- -->

<!-- -----BOOK APPOINTMENT LINKS SECTION----- -->
<section class="booking-section-container" id="booking-container">
    <h1 class="booking-section-header" aria-label="booking section">Booking Section</h1>
    <img src="static/images/radiographer.png" class="booking-image" alt="Radiographer looking at x-ray on film">
    <div class="booking-link-container container-fluid">
        <div class="row">
            <div class="col please-choose">
                Please choose from the following:
            </div>
        </div>  
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_xray' %}">
                    <p>Book an</p>
                    <h2>X-RAY</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_ct' %}">
                    <p>Book a</p>
                    <h2>CT Scan</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_mri' %}">
                    <p>Book an</p>
                    <h2>MRI Scan</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_ultrasound' %}">
                    <p>Book an</p>
                    <h2>Ultrasound</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_mammo' %}">
                    <p>Book a</p>
                    <h2>Mammogram</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_dexa' %}">
                    <p>Book a</p>
                    <h2>Dexa Scan</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_nm' %}">
                    <p>Book a</p>
                    <h2 id="nm-booking-header">Nuclear Medicine Scan</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_angio' %}">
                    <p>Book an</p>
                    <h2>Angiogram</h2>
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-2 booking-link">
                <a href="{% url 'book_fluoro' %}">
                    <p>Book a</p>
                    <h2>Fluoroscope</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col please-note">
                *Please note: Weekend appointments available by direct arrangement a minimum of 3 days in advance.
            </div>
        </div>
    </div>
</section>
<!-- -----END OF BOOK APPOINTMENT LINKS SECTION----- -->

<!-- -----IMAGE SECTION----- -->
<section class="image-container">
    <h1 class="booking-section-header" aria-label="Image section">Image Section</h1>
</section>
<!-- -----END OF IMAGE SECTION----- -->

<!-- -----OTHER LINKS SECTION----- -->
<section class="other-links-container">
    <h1 class="booking-section-header" aria-label="other links section">Other Links</h1>
    <div class="otherlinks-text-container">
        <h2>Looking for information about your visit to radiology?</h2>
        <div>
            It's understandable to be aprehensive about any visit to hospital. For information regarding our radiology department, radiation safety and how to get your results, you can visit out 'Patient information board':
            <a href="{% url 'information' %}">HERE</a>
        </div>
        <div>
            Or for information on the different types of examination, you can visit our examination board:
            <a href="{% url 'examinations' %}">HERE</a>
        </div>
    </div>
</section>
<!-- -----END OF OTHER LINKS SECTION----- -->

<!-- -----ADVERT SECTION----- -->
<section class="advert-container">
    <h1 class="booking-section-header" aria-label="advert section">Come Partner with us</h1>
    <div class="advert-text-container">
        <h2>State of the art digital equipment at the majority of our sites across East Lancashire</h2>
        <div>
            Are you a company looking to showcase your healthcare/radiology products? The radiology department at ELHT has partnered with companies such as Siemens, Fuji, Samsung and Agfa, maybe you're next? Please contact our contracts manager for further information:
            <a href="{% url 'contact' %}">HERE</a>
        </div>
    </div>
</section>
<!-- -----END OF ADVERT SECTION----- -->
{% endblock content %}